/* admin */
.table1 {
    color: white !important;
    background: rgb(61, 61, 60);
    height: 40px !important;
}

.bs {
    height: 100px;
    background: chartreuse;
}

.editInput {
    width: 100px;
}
