.keypad {
    direction: ltr;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
    border: 1px solid black;
}

.CalcContainer {
    transform: translate(-50%, -50%);
    width: 256px;
    text-align: center;
    border: 10px solid black;
    background: black;
    border-radius: 5px;
    position: fixed !important;
    margin-left: 1000px;
    top: 228px !important;
    right: -130px !important;
}

.btnCalc {
    border: 1px solid black;
    color: white;
    background: #262834;
    border-radius: 5px;
    margin: 5px;
}

#clear {
    grid-column: 1/3;
}

.highlight {
    background: #56cbdb;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.programming {
    background: #cf8a22;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

.CalcContainer .header {
    font-size: x-large;
    color: aliceblue;
}