.body2{
    /* background: #eee; */
    /* overflow: scroll;
    height: 630px; */
    background-color: black !important;
    width: 100vw !important;
    height: 600px !important;
}


.heading {
    color: rgb(199, 243, 243);
    text-align: center;
    font-size: 3s0px;
    /* padding: 10px; */
}

.containerVids {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    /* padding: 2px 2%; */

    
}

.main-video {
    background: #5e5a5a;
    border-radius: 5px;
    padding: 10px;
    width: 100% !important;
}

.containerVids .main-video .video {
    width: 100%;
    border-radius: 5px;

}

.containerVids .main-video .title {
    color: rgb(236, 233, 247);
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.video-list::-webkit-scrollbar {
    width: 7px;

}

.video-list::-webkit-scrollbar-track {
    background: rgb(71, 67, 67);
    border-radius: 50px;

}

.video-list::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 50px;

}

.containerVids .video-list {
    background-color: rgb(143, 136, 136);
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
}

.containerVids .video-list .vid .video-react {
    width: 100px;
    border-radius: 5px;
}

.containerVids .video-list .vid {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #2b2929;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.containerVids .video-list .vid:hover {
    background-color: #eee;

}

.containerVids .video-list .vid.active {
    background-color: #2890b9;

}
.containerVids .video-list .vid .title {
    background-color: #2890b9;

}

@media(max-width:991px){
    .containerVids{
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
    }

}

@media(max-width:768px){
    .containerVids{
        grid-template-columns: 1fr;
        
    }
    .containerVids .main-video .video .video-react {
        width: 700px !important;
        border-radius: 5px;
    }

}
@media(max-width:608px){
    .containerVids{
        grid-template-columns: 1fr;
        
    }
    .containerVids .main-video .video .video-react {
        width:500px !important;
        border-radius: 5px;
    }

}
@media(max-width:308px){
    .containerVids{
        grid-template-columns: 1fr;
        
    }
    .containerVids .main-video .video .video-react {
        width:300px !important;
        border-radius: 5px;
    }

}