
.list-group-item {
    padding: 0 !important;
}
.textExBarOpen{
    margin-right: 400px;
}
.textEx{
    margin-right: 100px;
    
}
.bodyEx{
    height: 100%;
    background-color: white;
}
.mainExercise{
   margin-top: 50px;
   text-align: center;
   color: black;
   background-color: white;
   height: 400px;
}
.Exercise{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; 
   text-align: center;
   color: black;
   background-color: #E7E9EB;
   height: 200px;
   direction: ltr;
}
.ExerciseWithBarOpen{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 280px;
   text-align: center;
   color: black;
   background-color: #E7E9EB;
   height: 200px;
   direction: ltr;
}
.btnex1{
    margin-top: 20px;
    margin-right: 40px;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #04AA6D;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    min-width: 180px;

}
.btnex2{
    margin-top: 20px;
    margin-right: 800px;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #282A35;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    min-width: 180px;

}
.answersEx{
    background-color: #E7E9EB;
   height: 100px;
   margin-left: 15px;
   margin-right: 15px;
}

.btnex1Open{
    margin-right:30px;

    margin-top: 20px;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #04AA6D;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    min-width: 180px
}

.btnex2Open{
    margin-top: 20px;
    margin-right: 550px;
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #fff;
    background-color: #282A35;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    min-width: 180px;
}
.answersExOpen{
    background-color: #E7E9EB;
    height: 100px;
    margin-right: 280px;
       margin-left: 15px;

}

.dropdown-toggle:after {
    display: none !important; 
  }

  #dropdown-basic{
      background-color: brown;
      background: #282A35;
      color:white;
      cursor: pointer;
      border-radius: 0% !important;
      font-size: 18px;
      /* padding:10px 10px 10px 20px; */
      padding:10px 10px 10px 20px;
      margin: 0!important;
      border: 0 !important;
      width: 100%;
      border: 1px solid black !important;
   
  }
  .list-group-item{
      padding: 0;
      border: 0 !important;;
      width: 100%;
      
  }