@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-align: right !important;
}